body{
	font-family: 'Titillium Web', sans-serif;
  	background-color: #f2f2f2;
}

.navbar{
	-webkit-transition: ease 0.4s; /* Safari */
    transition: ease 0.4s;
}

.opacity{
	opacity: 0.9;
}

.top-image{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-image: url("../assets/img/iphone-desk-laptop-notebook.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}

.top-image h1{
	text-align: center;
	opacity: 0.9;
	background-color: #212738;
	margin-bottom: 0; 
	color: #fff;
	font-size: 4em;
}

.top-image .container{
	display: block;
	text-align: center;
}

.top-image .container .btn{
	background-color: #3D4A84;
	color: #fff;
}

.title-group{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

.card{
	margin-bottom: 1em;
	transition-property: font-weight;
}

.card:hover h5{
	font-weight: bold;
}

.icon-color{
	color: #212738;
}

.card:hover .icon-color{
	color: #3D4A84;
}

.background-white{
	background-color: white;
	padding: 3em;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	margin-bottom: 2em;
}

#submit-btn{
	background-color: #3D4A84;
	color: #fff;
	border: 0;
	width: 100%
}

@media (max-width: 767.98px){
	.top-image h1{
		font-size: 46px;
	}
	.social-bar{
		visibility: hidden;
	}
	.custom-contact .col-md-6{
		margin-top: 1em;
	}
}


/* footer */

.custom-contact{
	padding: 3em;
	background-color: #212738;
	color: #F8F9FA;
	text-align: center;
	margin: 0;
}

.custom-contact img{
	height: 100px;
}

.custom-footer{
	display: flex;
	padding: 5px;
	background-color: #141721;
	color: #F8F9FA;
	margin: 0;
	justify-content: center;
}
.custom-footer p {
	margin: 0;
	font-size: 12px;
	text-align: center;
}

#contact-form{
	-webkit-transition: 1s ease-out;
  	-moz-transition: 1s ease-out;
  	-o-transition: 1s ease-out;
  	transition: 1s ease-out;
}




/* Social Bar */


.social-bar {
  position: fixed;
  left: -15px;
  top: 40%;
  background-color: white;
}
.social-bar__item {
  padding: 10px 10px 10px 25px;
  color: white;
  font-size: 30px;
  text-align: center;
  transition-property: transform, opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}
.social-bar__item:hover {
  transform: translate(15px);
}
.social-bar__fb {
  background-color: #3b5999;
}
.social-bar__twitter {
  background-color: #55acee;
}
.social-bar__linkedin {
  background-color: #0077B5;
}
.social-bar__instagram {
  background-color: #e4405f;
}
.social-bar__printerest {
  background-color: #bd081c;
}

#icon-contact{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	color: #F8F9FA;
}

#icon-contact:hover{
	color: #595E6C;
}